html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

h1{
    font-family: Arial;
    font-size: 40px;
}
h2{
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}
#members_mngmt,#subscriptions_mngmt,#purchases_mngmt,#arrivals_mngmt,#member_details,#register_div,
#centerPButton{
    display : none;
}

button{
    cursor:pointer;
}

.pbutton{
    background-color: slateblue;
    border-radius: 5px;
    border-style: solid;
    border-color: crimson;
    border-width: 1px;
    color: #FFFFFF;
}
.success{
    position: relative;
    left: 30%;
    width : 40%;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    padding-top: 5px;
    border: 1px solid black;
    background-color: darkseagreen;
    color: darkgreen;
    border-radius: 5px;
    font-size: 15px;
    font-family: "JetBrains Mono", sans-serif;
    display:none;
}
.error{
    position: relative;
    left: 30%;
    width : 40%;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    padding-top: 5px;
    border: 1px solid black;
    background-color: indianred;
    color: darkred;
    border-radius: 5px;
    font-size: 15px;
    font-family: "JetBrains Mono", sans-serif;
    display:none;
}
.members, .products,.sp,.sub,.arrival{
    position: relative;
    left: 30%;
    width : 40%;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    padding-top: 5px;
    border: 1px solid black;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: "JetBrains Mono", sans-serif;
}

.member{
    position: relative;
    left: 30%;
    width : 40%;
    margin-top: 10px;
    padding: 11px;
    padding-top: 5px;
    border: 1px solid black;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: "JetBrains Mono", sans-serif;
}
#centerPButton{
    position: relative;
    left: 25%;
    width : 50%;
    height: 25px;
    margin-bottom: 10px;
}
#home{
    position: absolute;
    left: 0;
}
#return{
    position: absolute;
    right: 0;
}

.buttonBeside{
    position: absolute;
    right: 10%;
    top: 40%;
    height: 30%;
}
.title_mbrs,.title_product{
    font-weight: bold;
    text-decoration: underline;
}
.choice{
    cursor: pointer;
    width: 10%;
    height: 75px;
    padding: 10px;
    border: 1px solid black;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

#main_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#members_mngmt {
  margin: auto;
}

.dscrtext{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.btn-bot{
    position: absolute;
    width: 90px;
    margin-left: -40px;
    bottom: 40px;
}
#prev{
    left: 43%;
    bottom:40px;
    display:none;
}
#nxt{
    left: 57%;
    bottom: 40px;
    display:none;
}
#register_div{
    position: relative;
    left: 30%;
    width : 40%;
    border: 1px solid black;
    padding: 10px;
    background-color: royalblue;
    border-radius: 5px;
    font-family: "JetBrains Mono", sans-serif;
}
.titre{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: 700;
	font-style: normal;
	font-variant: small-caps;
}

#send{
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    color: white;
    background: #2B2D2F;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

#error_message{
    position : absolute;
    left: 37%;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    border-radius: 4px;
    background-color: darksalmon;
    color: crimson;
    top: 5%;
    font-size: 14px;
    display : none;
}
ul{
    padding-left:16px;
}
li{
    padding-right: 13px
}

#add, #changeToP,#changeToS {
    position: absolute;
    width: 95px;
    margin-left: -40px;
    bottom: 80px;
    left: 50%;
}

.selectMember{
    margin-bottom: 10px;
}
#navigation{
    display: none;
}