{% extends "_base.html" %}
{% block title %}Total du {{ day }}{% endblock %}
{% block main_title %}Total du {{ day }}{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Nom du produit</th>
        <th>Prix du produit</th>
    <tr>
    {% for (i,j) in dic.items() %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ "%0.2f"|format(j) }} €</td>
        <tr>
    {% endfor %}
    <td class="total">Total du jour</td><td>{{ "%0.2f"|format(total) }} €</td>
</table>
    {{ macros.mklien("index","Retour a l'acceuil") }}
{% endblock %}