{% extends "_base.html" %}
{% block title %}Total de {{ date }}{% endblock %}
{% block main_title %}Total de {{ date }}{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Mois de l'année</th>
        <th>Total du mois</th>
    <tr>
    {% for (i,j) in dic.items() %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ "%0.2f"|format(j) }} €</td>
        <tr>
    {% endfor %}
    <td class="total">Total de l'année</td><td>{{ "%0.2f"|format(total) }} €</td>
</table>
    {{ macros.mklien("index","Retour a l'acceuil") }}
{% endblock %}